<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="LootEditor" Manufacturer="Seedsoft" Version="1.0.0.0" UpgradeCode="43ca39dc-5b73-48f7-a1be-371f08fe5c81">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
